h6 {
	color: blue;
}

.flame {
	position: relative;
	width: 100%;
	max-width: 1200px;
	/* ← 幅を広げたい値に変更 */
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.flame-img {
	width: 100%;
	/* 親（.flame）の幅に合わせる */
	height: auto;
	display: block;
}

/*トゥムル、ホーム画面を表示するために使ったcss */
body {
	font-family: 'Segoe UI', sans-serif;
	background-color: #f9f9f9;
	margin: 30px;
	text-align: center;
}

.card {
	background-color: #ffffff;
	border-radius: 12px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
	margin: 20px auto;
	max-width: 320px;
}

.card p {
	font-size: 18px;
	line-height: 1.6;
}

.highlight {
	font-size: 22px;
	font-weight: bold;
	color: #F0F0F0;
}

.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}

.modal-content {
	background: white;
	padding: 20px;
	margin: 100px auto;
	width: 300px;
	border-radius: 8px;
	text-align: center;
}

.close-button {
	position: absolute;
	top: 12px;
	right: 16px;
	background: transparent;
	border: none;
	font-size: 22px;
	font-weight: bold;
	cursor: pointer;
	color: #444;
}

.close-button:hover {
	color: #e74c3c;
	/* 赤に変化 */
}

.modal-content {
	position: relative;
	/* ↑ ボタン配置のために必要 */
}

/*トゥムル終わり*/

/*大坂記入*/
.rectangle {
	width: 300px;
	height: 300px;
	background-color: #252525;
	position: absolute;
	left: 300px;
	top: 400px;
	border-top-left-radius: 70px;
	clip-path: polygon(0% 0%, calc(100% - 70px) 0%, 100% 70px, 100% 100%, 0%
		100%);
}

.rectangle2 {
	width: 288px;
	height: 288px;
	background-color:red;
	position: absolute;
	left: 306px;
	top: 406px;
	border-top-left-radius: 64px;
	clip-path: polygon(0% 0%, calc(100% - 67px) 0%, 100% 67px, 100% 100%, 0%
		100%);
}

.sunday {
	color: #F0F0F0;
	font-size: 100px;
}

.monday {
	color: #F0F0F0;
	font-size: 100px;
}

.tuesday {
	color: #F0F0F0;
	font-size: 100px;
}

.wednesday {
	color: #F0F0F0;
	font-size: 100px;
}

.thursday {
	color: #F0F0F0;
	font-size: 100px;
}

.friday {
	color: #F0F0F0;
	font-size: 100px;
}

.saturday {
	color: #F0F0F0;
	font-size: 100px;
}

.sunday_back {
	background-color: red;
}

.monday_back {
	background-color: blue;
}

.tuesday_back {
	background-color: green;
}

.wednesday_back {
	background-color: orange;
}

.thursday_back {
	background-color: purple;
}

.friday_back {
	background-color: teal;
}

.saturday_back {
	background-color: brown;
}