/* 枠 */
.flame {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 40px auto;
	width: 100%;
	max-width: 700px;
	position: relative;
	z-index: 0;
}

.flame-img {
	width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}

.form-wrapper {
	position: absolute;
	top: 20%;
	left: 8%;
	width: 85%;
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* 入力欄*/
.Form {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.Form-Item {
	display: flex;
	align-items: center;
	width: 95%;
}

.Form-Item-Label {
	width: 25%;
	height: 45px;
	min-width: 80px;
	font-size: 15px;
	background-color: hsl(219, 78%, 46%);
	color: white;
	padding: 3px;
	border-radius: 6px;
	text-align: center;
	font-weight: bold;
	min-width: 80px;
}

.Form-Item-Input {
	min-width: 10%;
	flex: 1;
	margin-left: 5px;
	padding: 4px;
	font-size: 20px;
	border: 2px solid #080808;
	border-radius: 8px;
	background-color: #ffffff;
	height: 35px;
	flex: 1;
}

.Pull-Down {
	flex: 1;
	margin-left: 5px;
	padding: 4px;
	font-size: 20px;
	border: 2px solid #080808;
	border-radius: 8px;
	background-color: #ffffff;
	height: 35px;
}

/* ボタン */
.insert_btn {
	margin-top: 20px;
	align-self: center;
	padding: 5px 25px;
	font-size: 45px;
	background-color: hsl(322, 77%, 63%);
	color: #fff;
	border: 3px solid #080808;
	border-radius: 12px;
	cursor: pointer;
	font-weight: bold;
}

.rectangle-label {
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(-50%);
	background-color: hsl(219, 78%, 46%);
	border: 3px solid #080808;
	color: white;
	padding: 5px 12px;
	font-size: 27px;
	font-weight: bold;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	z-index: 10;
	border-radius: 4px 4px 0 0;
}

.rectangle-big {
	width: 680px;
	height: 680px;
	background-color: #323234;
	clip-path: polygon(0% 0%, calc(100% - 70px) 0%, 100% 70px, 100% 100%, 0%
		100%);
	padding: 5px;
	box-sizing: border-box;
	position: relative;
}

.rectangle {
	width: 100%;
	height: 100%;
	background-color: #fafafb;
	clip-path: polygon(0% 0%, calc(100% - 67.5px) 0%, 100% 67.5px, 100% 100%,
		0% 100%);
	position: relative;
}

/* モバイル対応 */
@media screen and (max-width: 600px) {
	.flame {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin: 40px auto;
		width: 100%;
		max-width: 390px;
		position: relative;
		z-index: 0;
	}
	.Form-Item {
		flex-direction: column;
		align-items: stretch;
	}
	.Form-Item-Label {
		width: 100%;
		text-align: left;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.Form-Item-Input {
		max-width: 100%;
		margin-left: 0;
	}
	.insert_btn {
		width: 100%;
		margin-top: 5px;
		align-self: center;
		font-size: 24px;
		background-color: hsl(322, 77%, 63%);
		color: #fff;
	}
	.rectangle-big {
		width: 100%;
		height: 720px;
		background-color: #323234;
		clip-path: polygon(0% 0%, calc(100% - 70px) 0%, 100% 70px, 100% 100%, 0%
			100%);
		padding: 5px;
		box-sizing: border-box;
		position: relative;
	}
	.rectangle {
		width: 100%;
		height: 100%;
		background-color: #fafafb;
		clip-path: polygon(0% 0%, calc(100% - 67.5px) 0%, 100% 67.5px, 100% 100%,
			0% 100%);
		position: relative;
	}
}